*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background-image: url(image/cosmos-e1561441497567.jpg);
    background-size: cover;
    position: relative;
}

.earht{
    width: 300px;
    height: 300px;
    background-image: url(image/16-169033_earth-png-planet-planet-earth-no-background.png);
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 400px;
    z-index: 3;
}

.orbita01{
    width: 560px;
    height: 95px;
    position: absolute;
    top: 300px;
    left: 272px;
    border-radius: 50%;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 2;
}

.orbita02{
    width: 560px;
    height: 95px;
    position: absolute;
    top: 300px;
    left: 272px;
    border-radius: 50%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 4;
}

.moon{
    width: 100px;
    height: 100px;
    background-image: url(image/47-477252_moon-png-fantasy-planet-transparent-background-png-download.png);
    background-size: cover;
    position: absolute;
    top: 250px;
    left: 500px;
    z-index: 1;
    animation-name: moon;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes moon{
    0%{
        top: 260px;
        left: 450px;
        transform: rotate(0);
    }
    5%{
        top: 265px;
        left: 400px;
    }
    10%{
        top: 270px;
        left: 350px;
    }
    15%{
        top: 275px;
        left: 300px;
    }
    20%{
        top: 285px;
        left: 275px;
    }
    25%{
        top: 300px;
        left: 250px;
    }
    30%{
        top: 315px;
        left: 300px;
    }
    31%{
        z-index: 5;
    }
    35%{
        top: 325px;
        left: 350px;
    }
    40%{
        top: 330px;
        left: 400px;
    }
    45%{
        top: 335px;
        left: 450px;
    }
    50%{
        top: 340px;
        left: 500px;
        z-index: 5;
        transform: rotate(360deg);
    }
    50.0001%{
        transform: rotate(0);
    }
    55%{
        top: 335px;
        left: 550px;
    }
    60%{
        top: 330px;
        left: 600px;
    }
    65%{
        top: 325px;
        left: 650px;
    }
    67%{
        z-index: 5;
    }
    70%{
        top: 315px;
        left: 700px;
    }
    75%{
        top: 300px;
        left: 750px;
    }
    80%{
        top: 285px;
        left: 725px;
    }
    85%{
        top: 275px;
        left: 700px;
    }
    90%{
        top: 270px;
        left: 650px;
    }
    95%{
        top: 260px;
        left: 600px;
    }
    100%{
        top: 250px;
        left: 500px;
        transform: rotate(360deg);
    }
}