.ba {
    width: 300px;
    height: 25px;
    background-color: #008080;
}

.bbc1d {
    width: 300px;
    height: 60px;
}

.bc1d {
    width: 100px;
    height: 245px;
    float: left;
}

.bbbb {
    background-color: #66cdaa;
}

.bb {
    width: 100px;
    height: 60px;
    background-color: #66cdaa;
}

.bb12 {
    width: 100px;
    height: 185px;
}

.bb1 {
    width: 50px;
    height: 185px;
    background-color: #a52a2a;
}

.bb2 {
    width: 50px;
    height: 70px;
    background-color: #adff2f;
}

.bbb {
    float: left;
}

.bc1 {
    width: 100px;
    height: 60px;
    background-color: #add8e6;
}

.bc2 {
    width: 100px;
    height: 60px;
    background-color: #000086;
}

.bc3 {
    width: 100px;
    height: 60px;
    background-color: #8b008b;
}

.bc45 {
    width: 100px;
    height: 65px;
}

.cc {
    width: 50px;
    height: 65px;
    float: left;
}

.c4 {
    background-color: #fdf5e6;
}

.c5 {
    background-color: #fa8072;
}

.bd {
    width: 100px;
    height: 60px;
    background-color: #40e0d0;
}

.bd1 {
    width: 100px;
    height: 60px;
    background-color: #008080;
}

.bd2 {
    width: 100px;
    height: 125px;
    background-color: #ffdead;
}

.bd3 {
    width: 100px;
    height: 25px;
}