<main class="p-5">
  <div class="card-deck m-5">
    <div class="card text-center">
      <h6 class="card-header">
        Angular list of prohibited words
      </h6>
      <img src="assets/images/cenzor.jpg"
        class="card-img-top" alt="cenzor">
      <div class="card-body">
        <h5 class="card-title text-danger">Angular list of prohibited words</h5>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success btn-block" [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active">Details</button>
      </div>
    </div>
    <div class="card text-center">
      <h6 class="card-header">
        Angular users list
      </h6>
      <img src="assets/images/users.jpg"
        class="card-img-top" alt="users">
      <div class="card-body">
        <h5 class="card-title text-danger">Angular users list</h5>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success btn-block" [routerLink]="[ '/works/users' ]" routerLinkActive="active">Details</button>
      </div>
    </div>
    <div class="card text-center">
      <h6 class="card-header">
        Angular tasks list
      </h6>
      <img src="assets/images/tasks.jpg"
        class="card-img-top" alt="tasks">
      <div class="card-body">
        <h5 class="card-title text-danger">Angular tasks list</h5>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success btn-block" [routerLink]="[ '/works/tasks' ]" routerLinkActive="active">Details</button>
      </div>
    </div>
  </div>
</main>