<div class="jumbotron" style="background-image: url(../../../assets/images/eating-pizza.jpg); background-size: cover; height: 95vh; border-radius: 0;">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead mt-5">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>In casual settings, however, it
        is cut into wedges to be eaten while held in the hand.</p>
    <p>In Italy, pizza served in formal settings, such as at a restaurant, is
        presented
        unsliced, and is eaten with the use of a knife and fork.</p>
    <p>A small pizza is sometimes called a pizzetta.</p>
    <a class="btn btn-dark btn-lg mt-5" [routerLink]="[ '/products' ]" role="button">Let`s go to pizza...</a>
</div>