$mainFontFamily: 'Montserrat', sans-serif;
$secondFontFamily: 'Roboto', sans-serif;
$mainColor: #fff;
$secondColor: #FF4E50;
$mainTittleColor: #444;
$secondTitleColor: #666;
$thirthTittleColor: #E3E3E3;
$secondTittleHeaderColor: #F7F3F2;
$inputColor: #999;
$inputColorBorder: #D4D4D4;
$desingColor: #ccc;
$paddingTotal: 10px 0;