<div class="container-fluid mt-3">
    <div class="card mb-3 border-0">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">Pizza</h1>
                    <p class="card-text">Pizza (Italian: [ˈpittsa], Neapolitan: [ˈpittsə]) is a savory dish of Italian
                        origin, consisting of a usually round, flattened base of leavened wheat-based dough topped with
                        tomatoes, cheese, and often various other ingredients (anchovies, olives, meat, etc.) baked at a
                        high temperature, traditionally in a wood-fired oven. A small pizza is sometimes called a
                        pizzetta.</p>
                    <p class="card-text">In Italy, pizza served in formal settings, such as at a restaurant, is
                        presented
                        unsliced, and is eaten with the use of a knife and fork. In casual settings, however, it
                        is cut into wedges to be eaten while held in the hand.</p>
                    <p class="card-text">
                        The term pizza was first recorded in the 10th century in a Latin manuscript from the Southern
                        Italian town of Gaeta in Lazio, on the border with Campania. Modern pizza was invented in
                        Naples, and the dish and its variants have since become popular in many countries. It has
                        become one of the most popular foods in the world and a common fast food item in Europe and
                        North America, available at pizzerias (restaurants specializing in pizza), restaurants offering
                        Mediterranean cuisine, and via pizza delivery. Many companies sell ready-baked frozen
                        pizzas to be reheated in an ordinary home oven.
                    </p>
                    <button class="btn btn-danger" [routerLink]="[ '/products' ]">See all products</button>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/pizzaCarbonara.jpg" class="card-img" alt="about">
            </div>
        </div>
    </div>
</div>